.signup-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.two-column-layout {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.tform-body {
  margin: 2rem 2.5rem;
  padding: 1rem;
}
.error {
  color: red;
}
.main-data-coach-profile {
  width: 75rem;
}
.about-data {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  display: flex;
  flex-direction: column;
}
.coach-profile-form {
  /* margin: 4rem 3rem; */
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.coach-form {
  width: 100%;
  max-width: 74rem;
  margin: 2.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
